---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.responsive-container {
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;
}
